<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="fragments/header :: site-header('Victor Pena')"/>
<body>
<th:block th:replace="fragments/navbar :: top-nav"/>

<br/>
<br/>

<h2 class="indigo-text" th:text="'Hello, ' + ${user.username} + '!'"/>
<a href="/ads/create">Generate New Ad</a>
<h5><strong>Activity: </strong></h5>
<div th:each="ad : ${userAds}">
    <a th:href="@{/ads/{adId}(adId = ${ad.id})}" th:text="${ad.getCategories().getName()}"></a>
</div>

<th:block th:replace="fragments/scripts :: site-scripts"/>
</body>
</html>