<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="fragments/header :: site-header('Victor J Pena')"/>
<body>
<th:block th:replace="fragments/navbar :: top-nav"/>

<h1 class="text-center" id="adlisterTitle">Adlister</h1>
<h5 class="text-center">Categories</h5>

<div class="row">
    <div class="col" th:each="Category : ${categories}">
        <h4 th:text="${Category.name}"></h4>
    </div>
</div>





<th:block th:replace="fragments/scripts :: site-scripts"/>
</body>
</html>